body {
	background-color:white;
	color:white;
}

textarea {
	position: fixed;
	top: 0;
	left: 0;
	width: 50%;
	height: 90%;
	overflow: auto;
	font-size: 1.3em;
	text-align: left;
}

div#textemkd {
	position: fixed;
	height: 90%;
	top: 0;
	bottom: 0;
	left: 50%;
	right: 0;
	outline: none;
	overflow: scroll;
}
.CodeMirror-scroll {
    bottom: 0;
    right: 0;
    width: 50%;
    height: 90%;
    outline: none;
    position: fixed;
}

input{
	width: 4em;
	height: 6em;
	border: 1px solid teal;
}
